In [1]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [2]:
def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

In [3]:
norm.cdf(0)

0.5

In [4]:
norm.cdf(0.25)

0.5987063256829237

In [5]:
norm.cdf(0.75)

0.7733726476231317

In [6]:
norm.cdf(9)

1.0

In [7]:
def BSM(S, K, r, stdev, T):
    return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

In [8]:
data = pd.read_csv('/Users/adamberger/Desktop/PG.csv', index_col = "Date")
data

                   PG
Date
2007-01-03  46.849339
2007-01-04  46.493664
2007-01-05  46.094406
2007-01-08  46.196045
2007-01-09  46.079914
...               ...
2017-04-04  88.532204
2017-04-05  88.591278
2017-04-06  88.030014
2017-04-07  87.862617
2017-04-10  88.118629

[2586 rows x 1 columns]

In [9]:
S = data.iloc[-1]
S

PG    88.118629
Name: 2017-04-10, dtype: float64

In [10]:
log_returns = np.log(1 + data.pct_change())

In [11]:
stdev = log_returns.std() * 250 ** 0.5
stdev

PG    0.176109
dtype: float64

In [12]:
r = 0.025
K = 110
T = 1

In [13]:
d1(S, K, r, stdev, T)

PG   -1.029416
dtype: float64

In [14]:
d2(S, K, r, stdev, T)

PG   -1.205525
dtype: float64

In [15]:
BSM(S, K, r, stdev, T)

PG    1.132067
Name: 2017-04-10, dtype: float64